{% block html_head_container %}
{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
    </head> 
{% endblock %}
    <body class="{{ body_class }}" data-template="base.twig">
{% do action('body_top') %}
{% block nav %}
    {% include 'nav.twig' %}
{% endblock nav %}
<section id="content" role="main" class="content-wrapper {{ wrapper_class }}">
    <div class="wrapper {{sidebar_class}}">
        {% if title %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
        {% endif %}
        {% block content %}
            Sorry, no content
        {% endblock %}
    </div>
    {% if sidebar %}
        <aside class="layout-sidebar">
            {{ sidebar }}
        </aside>
    {% endif %}
</section><!-- /.container -->
{% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>