<!doctype html>
<!--[if lt IE 7]><html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html {{site.language_attributes}}> <!--<![endif]-->
    {% set page_title %}{% if wp_title %}{{ wp_title }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}{% endset %}
    <head>
        <meta charset="{{site.charset}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{site.description}}">
        <link rel="pingback" href="{{site.pingback_url}}" />
        <link rel="icon" href="{{site.theme.link}}/favicon.png">

        <title>{{ page_title }}</title>

        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />

        {{function('wp_head')}}
